@model RecipePal.ViewModels.RecipeViewModel

<h1>@Model.Recipe.Title</h1>
<br />

<div class="card-columns">
    @foreach (var note in Model.Recipe.Notes)
    {
    <div class="card text-white bg-dark">
        <div class="card-body">
            <h5 class="card-header">@note.Title</h5>
            <p class="card-text">@note.Text</p>
        </div>
    </div>
    }
</div>